version: 2
updates:
  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      dev-dependencies:
        patterns:
          - "pytest*"
          - "ruff"
          - "mypy"
          - "moto*"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
