name: Lint

on:
  push:
    branches:
      - main
      - 'release/v*'
      - 'release/[0-9]*'
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    branches:
      - main
      - 'release/v*'
      - 'release/[0-9]*'
      - 'milestone/v*'
      - 'milestone/[0-9]*'
  workflow_dispatch:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: '3.12'
      - uses: pre-commit/action@v3.0.1
